@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.test
{
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.test h1, p, h2, ul, h3
{
    font-family: 'Akshar', sans-serif;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    opacity: 100%;
}

.test h1
{
    position: fixed;
    font-size: 31px;
    left: 20px;
    top: 20px;
}

.test h2 {
    font-size: 36px;
    color: rgb(208, 67, 67);
}

.test p
{
    font-size: 60px;
}

.test ul
{
    font-size: 30px;
}

.test h3
{
    font-size: 40px;
}

.services
{
    position: fixed;
    bottom: 160px;
    left: 20px;
    text-decoration: none;
}

ul
{
    list-style: none;
}

.info
{
    position: fixed;
    top: 55px;
    left: 20px;
}

.info p {
    padding: 0;
    margin: 0;
    font-size: 56px;
    text-align: right;
}

.gallery-link
{
    
    position: fixed;
    right: 20px;
    bottom: 160px;
}

.gallery-link p
{
    font-size: 40px;
}




@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 13))}
}

.slider {
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: fixed;
	width: 100%;
    bottom: 0;
    pointer-events: none;
    background-color: #1c1c1c;
}

.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 13);
        background-color: #1c1c1c;
        transition: 1s;
	}

.slide {
		height: 100px;
		width: 250px;
	}

@media only screen and (max-width: 768px) {
  .test h1, .services ul, .gallery-link p
  {
    font-size: 16px;
    color: #1c1c1c;
    mix-blend-mode: screen;
  }

  .info p
  {
    color: #1c1c1c;
    font-size: 33px;
    margin-top: -16px;
  }

  .services, .gallery-link
  {
    bottom: 120px;
  }

}